JupyterLab Notebook Examples:  
Verbose REFERENTIAL material to be utilized in a LINUX environment.  

GOTCHA - Be mindful of the Default Working Directory setting.  

Install required Python components:  

        sudo dnf install pip  

        pip install et_xmlfile --user  
        pip install openpyl --user  
        pip install xlswriter --user  

Nonexistent directory './data' will be created in  
the Default Working Directory.  

Nonexistent file 'carsales.csv' will be written in './data'.  
File(s) '*.xlsx' will be written in './data'.

In [1]:
'''
'CSV_2_Dframe_2_xlsx.ipynb'      

if CSV file './data/carsales.csv' exists:
    jump to 'HouseKeepingEnded'
    
Create DataFrame 'dic_cardata' from a dictionary
Rename the DataFrame Index.
Write file './data/carsales.csv'.

            HouseKeepingEnded:

Create DataFrame 'df_data' by reading file './data/carsales.csv'.

Create dictionary 'dict_data_Odict' from the DataFrame 'df_data'
    using the "orient='dict'" parameter.
Rename the DataFrame Index Label.

Create dictionary 'dict_data_Olist' from the DataFrame 'df_data'
    using the "orient='dict'" parameter.
Rename the DataFrame Index.
Rename the Index Labels of DataFrame 'df_Olist'.

Write DataFrame 'df_Odict' as a CSV file.
Write DataFrame 'df_Olist' as a CSV file.

Write DataFrame 'df_Odict' as an xlsx file.
Write DataFrame 'df_Olist' as an xlsx file.

Write DataFrame 'df_carsales' as single xlsx worksheets.

Write DataFrame 'df_carsales' as multiple xlsx worksheets where
    each sheet contains specific column data.

Delete DataFrames 'df_carsales', 'df_data', 'df_Odict'and 'df_Olist'
    from memory.
'''
#
from IPython.display import display
from pathlib import Path
import os
import pandas as pd
import time
#

# Create an empty DataFrame to facilitate deletion WITHOUT an error
#   if CSV file './data/carsales.csv' exists and
#   DataFrame df_carsales' was not populated from a dynamically
#   created csv file.
#
# If CSV file './data/carsales.csv' was not found, create it then
#   rename the Index of DataFrame 'df_carsales'.
f_created_csv = False
name_dir = './data'
name_filepath = './data/carsales.csv'
# Ensure that the target directory exists.
os.makedirs(name_dir, exist_ok=True)
if os.path.exists(name_dir):
    os.chmod(name_dir, 0o755)
if os.path.exists(name_filepath):
    os.chmod(name_filepath, 0o444)
    df_carsales = pd.DataFrame()
else:
    f_created_csv = True
    dic_cardata = {
        'Hyundai': {
            'One': 2, 'Two': 6, 'Three': 2, 'Four': 3, 'Five': 0,
            'Six': 4, 'Seven': 7,
        },
        'Mazda': {
            'One': 12, 'Two': 11, 'Three': 0, 'Four': 0, 'Five': 0,
            'Six': 4, 'Seven': 1,
        },
        'Mercedes': {
            'One': 2, 'Two': 4, 'Three': 0, 'Four': 4, 'Five': 0,
            'Six': 3, 'Seven': 3,
        },
        'Ford': {
            'One': 3, 'Two': 0, 'Three': 0, 'Four': 1, 'Five': 6,
            'Six': 12, 'Seven': 5,
        },
        'BYD': {
            'One': 9, 'Two': 3, 'Three': 4, 'Four': 1, 'Five': 0,
            'Six': 0, 'Seven': 1,
        },
        'Renault': {
            'One': 12, 'Two': 1, 'Three': 0, 'Four': 0, 'Five': 3,
            'Six': 1, 'Seven': 1,
        },
        'Volvo': {
            'One': 1, 'Two': 4, 'Three': 0, 'Four': 0, 'Five': 0,
            'Six': 11, 'Seven': 12,
        },
    }
    df_carsales = pd.DataFrame(dic_cardata)
    df_carsales.index.rename(
        'Sales Location', inplace=True
    )

    # Save the DataFrame as a CSV file while
    #   including the Index and Index Labels (default).    
    # Update './data' datetime stamp
    if os.path.exists(name_filepath):
        os.chmod(name_filepath, 0o644)
    with open(
        name_filepath, 'w'
    ) as writer:
        df_carsales.to_csv(writer)
        if os.path.exists(name_filepath):
            os.chmod(name_filepath, 0o444)
            
            # Get then display modified time info
            ti_m = os.path.getmtime(name_filepath)
            m_ti = time.ctime(ti_m)
            Path(name_dir).touch()
            print(f"\nFile '{name_filepath}' was CREATED: {m_ti}") 
        
            # HouseKeepingEnded:

# Create DataFrame 'df_data' by reading './data/carsales.CSV'.
# Get the Index name via parameter'index_col=0'.
# Store the Index in 'df_data_index'.
df_data = pd.read_csv(name_filepath, index_col=0)
if f_created_csv:
    print('As a dynamically generated CSV file\n')
print(df_data.info())
display(df_data)
df_data_index = df_data.index.name

# Create dictionary 'dict_data_Odict' from the DataFrame 'df_data'.
# Specify parameter "orient='dict'" to produce a 
#   dictionary of dictionaries where each column is
#   a key and the key:value is
#   a dictionary of 'index_label:value' pairs.
# Rename the Index of DataFrame 'dict_data_Odict'.
dict_data_Odict = df_data.to_dict(orient='dict')
print(f'dict_data_Odict\n{dict_data_Odict}')
df_Odict = pd.DataFrame(dict_data_Odict)
df_Odict.index.rename(df_data_index, inplace=True)
display(df_Odict)

# Create dictionary 'dict_data_Odict' from the DataFrame 'df_data'.
# Specify parameter "orient='list'" to produce a
#   dictionary of lists where each column is
#   a key and the key:value is
#   a list of values for the row
#   associated with that column.
#   The Index_Label will be replaced with numbers from 0 to n.
# Rename the Index of DataFrame 'df_Olist'.
# Rename the Index Labels of DataFrame 'df_Olist'.
dict_data_Olist = df_data.to_dict(orient='list')
print(f'dict_data_Olist\n{dict_data_Olist}')
df_Olist = pd.DataFrame(dict_data_Olist)
df_Olist.index.rename(df_data_index, inplace=True)
new_idx_dic = {
    0: 'One', 1: 'Two', 2: 'Three', 3: 'Four', 4: 'Five', 5:
        'Six',
}
df_Olist.rename(
    index=new_idx_dic, inplace=True
)
display(df_Olist)

# Save DataFrame 'df_Odict' as a CSV file while
#   including the Index and Index Labels (default).
# Save DataFrame 'df_Olist' as a CSV file while
#   including the Index and Index Labels (default).
# Update './data' datetime stamp
dataframes_list = []
dataframes_list.append(df_Odict)
dataframes_list.append(df_Olist)  
csv_filepath = ['./data/df_Odict.csv', './data/df_Olist.csv']
for idx in range(len(csv_filepath)):
    # Ensure that file {csv_filepath[idx]} is writeable.
    if os.path.exists(csv_filepath[idx]):
        os.chmod(csv_filepath[idx], 0o644)
    with open(
        csv_filepath[idx], 'w'
    ) as writer:
        dataframes_list[idx].to_csv(writer)
        if os.path.exists(csv_filepath[idx]):
            os.chmod(csv_filepath[idx], 0o444)
    
            # Get then display modified time info
            ti_m = os.path.getmtime(csv_filepath[idx])
            m_ti = time.ctime(ti_m)
            Path(name_dir).touch()
            print(
                f'File:\n'
                f"{csv_filepath[idx]}' "
                f"was created or modified: {m_ti}"
            )

# xlsx read/write initialization requirements:
#   1. pip install 'openpyxl'.
#   2. Then a kernel restart MAY be required ONCE.
#
# 'pip install openpyxl' followed by a kernel restart MAY be required ONCE.
# Save the DataFrame 'df_Odict' as an Excel worksheet while
#   including the Index and Index Labels (default).
# Save the DataFrame 'df_Olist' as an Excel worksheet while
#   including the Index and Index Labels (default).
# Update './data' datetime stamp
dataframes_list = []
dataframes_list.append(df_Odict)
dataframes_list.append(df_Olist)
excel_filepath = ['./data/df_Odict.xlsx', './data/df_Olist.xlsx']
for idx in range(len(excel_filepath)):
    # Ensure that file {excel_filepath[idx]} is writeable.
    if os.path.exists(excel_filepath[idx]):
        os.chmod(excel_filepath[idx], 0o644)
    with pd.ExcelWriter(
        excel_filepath[idx]
    ) as writer:
        dataframes_list[idx].to_excel(writer)
        if os.path.exists(excel_filepath[idx]):
            os.chmod(excel_filepath[idx], 0o444)
            
            # Get then display modified time info
            ti_m = os.path.getmtime(excel_filepath[idx])
            m_ti = time.ctime(ti_m)
            Path(name_dir).touch()
            print(
                f'File:\n'
                f"{excel_filepath[idx]}' "
                f"was created or modified: {m_ti}"
            )

# Write DataFrame 'df_carsales' as single xlsx worksheets.
dataframes_list = []
# Two instances of 'df_data' are REQUIRED.
dataframes_list.append(df_data)
dataframes_list.append(df_data)
sheet_filepath = ['./data/df_sheets1.xlsx', './data/df_sheets2.xlsx']
for idx in range(len(sheet_filepath)):
    # Ensure that file {sheet_filepath[idx]} is writeable.
    if os.path.exists(sheet_filepath[idx]):
        os.chmod(sheet_filepath[idx], 0o644)
    with pd.ExcelWriter(
        sheet_filepath[idx]
    ) as writer:
        dataframes_list[idx].to_excel(writer)
        if os.path.exists(sheet_filepath[idx]):
            os.chmod(sheet_filepath[idx], 0o444)
        
            # Get then display modified time info
            ti_m = os.path.getmtime(sheet_filepath[idx])
            m_ti = time.ctime(ti_m)
            Path(name_dir).touch()
            print(
                f'File:\n'
                f"{sheet_filepath[idx]}' "
                f"was created or modified: {m_ti}"
            )

# Write DataFrame 'df_carsales' as multiple xlsx worksheets where
#   each sheet contains specific column data
dataframes_list = [df_data] 
col_names = list(df_data.columns)
for cname in range(len(col_names)):
    target_sheet = name_dir + '/' + col_names[cname] + '.xlsx'
    # Ensure that file {target_sheet} is writeable.
    if os.path.exists(target_sheet):
        os.chmod(target_sheet, 0o644)
    with pd.ExcelWriter(
        target_sheet
    ) as writer:
        df_data[col_names[cname]].to_excel(
            writer, sheet_name=col_names[cname]
        )
        if os.path.exists(target_sheet):
            os.chmod(target_sheet, 0o444)
            
            # Get then display modified time info
            ti_m = os.path.getmtime(target_sheet)
            m_ti = time.ctime(ti_m)
            Path(name_dir).touch()
            print(
                f'File:\n'
                f"{target_sheet}' "
                f"was created or modified: {m_ti}"
            )

# Delete DataFrames 'df_carsales', 'df_data', 'df_Odict'and 'df_Olist'
#     from memory.
del df_carsales
del df_data
del df_Odict
del df_Olist

# Get time info.
time_local = time.localtime()
time_string = time.strftime('%Y-%m-%d %H:%M:%S %Z %z', time_local)
print(f'\n{time_string}')
# EOF

File './data/carsales.csv' was CREATED: Tue Oct  1 17:56:08 2024
As a dynamically generated CSV file

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, One to Seven
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hyundai   7 non-null      int64
 1   Mazda     7 non-null      int64
 2   Mercedes  7 non-null      int64
 3   Ford      7 non-null      int64
 4   BYD       7 non-null      int64
 5   Renault   7 non-null      int64
 6   Volvo     7 non-null      int64
dtypes: int64(7)
memory usage: 448.0+ bytes
None

                Hyundai  Mazda  Mercedes  Ford  BYD  Renault  Volvo
Sales Location
One                   2     12         2     3    9       12      1
Two                   6     11         4     0    3        1      4
Three                 2      0         0     0    4        0      0
Four                  3      0         4     1    1        0      0
Five                  0      0         0     6    0        3      0
Six                   4      4         3    12    0        1     11
Seven                 7      1         3     5    1        1     12

dict_data_Odict
{'Hyundai': {'One': 2, 'Two': 6, 'Three': 2, 'Four': 3, 'Five': 0, 'Six': 4, 'Seven': 7}, 'Mazda': {'One': 12, 'Two': 11, 'Three': 0, 'Four': 0, 'Five': 0, 'Six': 4, 'Seven': 1}, 'Mercedes': {'One': 2, 'Two': 4, 'Three': 0, 'Four': 4, 'Five': 0, 'Six': 3, 'Seven': 3}, 'Ford': {'One': 3, 'Two': 0, 'Three': 0, 'Four': 1, 'Five': 6, 'Six': 12, 'Seven': 5}, 'BYD': {'One': 9, 'Two': 3, 'Three': 4, 'Four': 1, 'Five': 0, 'Six': 0, 'Seven': 1}, 'Renault': {'One': 12, 'Two': 1, 'Three': 0, 'Four': 0, 'Five': 3, 'Six': 1, 'Seven': 1}, 'Volvo': {'One': 1, 'Two': 4, 'Three': 0, 'Four': 0, 'Five': 0, 'Six': 11, 'Seven': 12}}

                Hyundai  Mazda  Mercedes  Ford  BYD  Renault  Volvo
Sales Location
One                   2     12         2     3    9       12      1
Two                   6     11         4     0    3        1      4
Three                 2      0         0     0    4        0      0
Four                  3      0         4     1    1        0      0
Five                  0      0         0     6    0        3      0
Six                   4      4         3    12    0        1     11
Seven                 7      1         3     5    1        1     12

dict_data_Olist
{'Hyundai': [2, 6, 2, 3, 0, 4, 7], 'Mazda': [12, 11, 0, 0, 0, 4, 1], 'Mercedes': [2, 4, 0, 4, 0, 3, 3], 'Ford': [3, 0, 0, 1, 6, 12, 5], 'BYD': [9, 3, 4, 1, 0, 0, 1], 'Renault': [12, 1, 0, 0, 3, 1, 1], 'Volvo': [1, 4, 0, 0, 0, 11, 12]}

                Hyundai  Mazda  Mercedes  Ford  BYD  Renault  Volvo
Sales Location
One                   2     12         2     3    9       12      1
Two                   6     11         4     0    3        1      4
Three                 2      0         0     0    4        0      0
Four                  3      0         4     1    1        0      0
Five                  0      0         0     6    0        3      0
Six                   4      4         3    12    0        1     11
6                     7      1         3     5    1        1     12

File:
./data/df_Odict.csv' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/df_Olist.csv' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/df_Odict.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/df_Olist.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/df_sheets1.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/df_sheets2.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/Hyundai.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/Mazda.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/Mercedes.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/Ford.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/BYD.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/Renault.xlsx' was created or modified: Tue Oct  1 17:56:08 2024
File:
./data/Volvo.xlsx' was created or modified: Tue Oct  1 17:56:08 2024

2024-10-01 17:56:08 PDT -0700