JupyterLab Notebook Examples:  
Verbose REFERENTIAL material to be utilized in a LINUX environment.  

GOTCHA - Be mindful of the Default Working Directory setting

In [1]:
'''
'dicts_2_Dframe_Merge_Left.ipynb'      

Create dictionaries 'dic_a' and 'dic_b'.

Create DataFrame 'df_a' from dictionary 'dic_a'.
Create DataFrame 'df_b' from dictionary 'dic_b'.

Left Merging:

Create a DataFrame via a merge of df_a and df_b
    with common values in the same rows in
    column 'Position'.

Create a DataFrame via a merge of df_a and df_b
    with common values in the same rows in
    columns 'Position' and 'Value'.

Create a DataFrame via a merge of df_a and df_b
    with common values in the same rows in
    columns 'Position', 'Value' and 'Extra'.

Delete all created DataFrames from memory.
'''
#
from IPython.display import display
from pathlib import Path
import os
import pandas as pd
import time
#

# Create dictionaries 'dic_a' and 'dic_b'.
# Create DataFrame 'df_a' from dictionary 'dic_a'.
# Create DataFrame 'df_b' from dictionary 'dic_b'.
dic_a = {
    'Position': [3, 4, 5, 6],
    'Value': ['a', 'x', 'y', 'a'],
    'Extra': ['e', 'o', 'j', 'r',],
}
dic_b = {
    'Position': [3, 4, 7, 8],
    'Value': ['a', 'x', 'z', 'b'],
    'Extra': ['e', 'o', 'k', 's',],
}
df_a = pd.DataFrame(dic_a)
df_b = pd.DataFrame(dic_b)
print('df_a.info():')
display(df_a.info())
display(df_a)
print('\ndf_b.info():')
display(df_b.info())
display(df_b)

# Return a DataFrame with common values in the same rows in
#   column 'Position'.
on_1 = 'Position'

# Return a DataFrame with common values in the same rows in
#   columns 'Position' and 'Value'
on_2 = ['Position', 'Value']

# Return a DataFrame with common values in the same rows in
#   columns 'Position' and 'Value'
on_3 = ['Position', 'Value', 'Extra']

# Merge types:
# merge_how = 'inner'
merge_how = 'left'
# merge_how = 'right'
# merge_how = 'outer'

# Create a DataFrame via a merge of df_a and df_b
#   with common values in the same rows in
#   columns 'Position'.
print(f"\nMerge Type: '{merge_how}'\n")
df_inner1 = df_a.merge(df_b, on=on_1, how=merge_how)
display(df_inner1)
if df_inner1.empty:
    print('Empty DataFrame found')
    df_inner1.info()

# Create a DataFrame via a merge of df_a and df_b
#   with common values in the same rows in
#   columns 'Position' and 'Value'.
df_inner2 = df_a.merge(    df_b, on=on_2, how=merge_how)
display(df_inner2)
if df_inner2.empty:
    print('Empty DataFrame found')
    df_inner2.info()

# Create a DataFrame via a merge of df_a and df_b
#   with common values in the same rows in
#   columns 'Position', 'Value' and 'Extra'.
df_inner3 = df_a.merge(    df_b, on=on_3, how=merge_how)
display(df_inner3)
if df_inner3.empty:
    print('Empty DataFrame found')
    df_inner3.info()

# Delete DataFrames 'df_a', 'df_b', df_inner1, df_inner2 and
#   df_inner3 from memory.
del df_a
del df_b
del df_inner1
del df_inner2
del df_inner3

# Get time info.
time_local = time.localtime()
time_string = time.strftime('%Y-%m-%d %H:%M:%S %Z %z', time_local)
print(f'\n{time_string}')
# EOF

df_a.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  4 non-null      int64
 1   Value     4 non-null      object
 2   Extra     4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

None

   Position Value Extra
0         3     a     e
1         4     x     o
2         5     y     j
3         6     a     r

df_b.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  4 non-null      int64
 1   Value     4 non-null      object
 2   Extra     4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

None

   Position Value Extra
0         3     a     e
1         4     x     o
2         7     z     k
3         8     b     s

Merge Type: 'left'

   Position Value_x Extra_x Value_y Extra_y
0         3       a       e       a       e
1         4       x       o       x       o
2         5       y       j     NaN     NaN
3         6       a       r     NaN     NaN

   Position Value Extra_x Extra_y
0         3     a       e       e
1         4     x       o       o
2         5     y       j     NaN
3         6     a       r     NaN

   Position Value Extra
0         3     a     e
1         4     x     o
2         5     y     j
3         6     a     r

2024-10-02 19:35:17 PDT -0700